extends ../layouts/app

block content
  h1 Pedir Férias
  form(action="/vacations" method="POST")
    div
      label O teu ID: 
      input(type="number" name="user_id" required)
    div
      label Tipo de Férias (ID): 
      input(type="number" name="leave_type_id" required)
    div
      label Início: 
      input(type="date" name="start_date" required)
    div
      label Fim: 
      input(type="date" name="end_date" required)
    br
    button(type="submit") Submeter