extends ../layouts/app

block content
  h1 Novo Pedido de Férias

  form(action=`/vacations` method=`POST`)
    div
      label Tipo de Férias: 
      select(name=`leave_type_id` required)
        each leaveType in leaveTypes
          option(value=leaveType.id)= leaveType.name
    div
      label Início: 
      input(type=`date` name=`start_date` required)
    div
      label Fim: 
      input(type=`date` name=`end_date` required)

    hr 
    a(href=`javascript:history.back()`, style=`text-decoration:none; border: 1px solid black; padding: 5px; margin-right: 5px;`) ⮜ Voltar
    button(type=`submit`, style=`text-decoration:none; border: 1px solid black; padding: 5px;`) ✚ Férias