extends ../layouts/app

block content
  h1 Novo Tipo de Férias
  
  form(action=`/leave-types` method=`POST`)
    div
      label Nome: 
      input(type=`text` name=`name` required)
    div
      label Descrição: 
      textarea(name=`description`)
    div
      label Máx Dias: 
      input(type=`number` name=`max_days` required)
    
    hr 
    a(href=`javascript:history.back()`, style=`text-decoration:none; border: 1px solid black; padding: 5px; margin-right: 5px;`) ⮜ Voltar
    button(type=`submit`, style=`text-decoration:none; border: 1px solid black; padding: 5px;`) ✚ Tipo de Férias