extends ../layouts/app

block content
  h1 Novo Utilizador
  
  form(action=`/users` method=`POST`)
    div
      label(for=`name`) Nome:
      input(type=`text` name=`name` required)
    div
      label(for=`email`) Email:
      input(type=`email` name=`email` required)
    div
      label(for=`password`) Password:
      input(type=`password` name=`password` required)
    div
      label(for=`role`) Cargo:
      select(name=`role`)
        option(value=``) -- Selecionar Cargo -- 
        option(value=`employee`) Employee
        option(value=`manager`) Manager
    div
      label(for=`department_id`) Departamento:
      select(name=`department_id`)
        option(value=``) -- Selecionar Departamento --
        each department in departments
          option(value=department.id)= department.name

    hr 
    a(href=`javascript:history.back()`, style=`text-decoration:none; border: 1px solid black; padding: 5px; margin-right: 5px;`) ⮜ Voltar
    button(type=`submit`, style=`text-decoration:none; border: 1px solid black; padding: 5px;`) ✚ Utilizador