doctype html
html
  head
    title Leavely App
  body
    if currentUser
      nav
      a(href=`/`) Home 
      | | 
      a(href=`/users`) Utilizadores 
      | | 
      a(href=`/departments`) Departamentos 
      | | 
      a(href=`/leave-types`) Tipos de Férias 
      | | 
      a(href=`/vacations`) Pedidos de Férias 
      | | 
      p(style="display:inline") Logged in as #{currentUser.name} (#{currentUser.role}) 
      | | 
      a(href=`/logout`) Terminar Sessão 
      hr
    else
      nav
      a(href=`/`) Home 
      | | 
      a(href=`/login`) Iniciar Sessão 
      | | 
      a(href=`/register`) Registar 
      | | 
      a Não autenticado
      hr
    
    
    block content