doctype html
html
  head
    title Leavely App
  body
    nav
      a(href=`/`) Home 
      | | 
      a(href=`/users`) Utilizadores 
      | | 
      a(href=`/departments`) Departamentos 
      | | 
      a(href=`/leave-types`) Tipos de Férias 
      | | 
      a(href=`/vacations`) Pedidos de Férias 
      | |
      a(href=`/auth/logout`) Terminar Sessão
    hr
    
    block content